body {
    background: #333;
    color: #FAEFF1;
}

.navbar {
    border-bottom: #840A12 3px solid;
    background-color: #050204;
    /* opacity: 0.8; */
}


#logo-background {
    background-color: #FAEFF1;
    border-radius: 100%;
    border-style: solid;
    border-color: #840A12;
    border-width: 3px;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 8px;
}

/* .card p {
    color: #6c757d;
} */

.django-ckeditor-widget {
    width: 100%;
}