{% extends 'base.html' %}
{% block title %}OSIB Blog{% endblock title %}
{% block content %}
<h1 class="display-3">Podcast Episodes</h1>

{% for episode in episodes %}
<div class="card text-dark my-3">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col">
        <img src="{{ episode.image_url }}" class="img-thumbnail img-fluid">
      </div>
      <div class="col-10">
        <h5 class="card-title display-4">
          {{ episode.title }}
        </h5>
        <p class="text-muted">Released {{ episode.created.date }}</p>
        {% with episode.enclosures.all|first as audio %}
        <p><a href="{{ audio.href }}" class="lead">Listen Now</a></p>
        {% endwith %}
      </div>
    </div>
  </div>
</div> {% endfor %} {% comment %} <nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    </li>
    {% endif %} {% for page in page_obj.paginator.page_range %}
    <li class="page-item {% if page == page_obj.number %}active{% endif %}">
      <a class="page-link" href="?page={{ page }}">{{ page }}</a>
    </li>
    {% endfor %} {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
    </li>
    {% endif %}
  </ul>
</nav> {% endcomment %}

{% endblock content %}
