{% extends 'base.html' %}
{% block title %}OSIB Blog{% endblock title %}
{% block content %}
<h1 class="display-4">Podcast Episodes</h1>

{% for episode in page_obj %}
<div class="card text-dark my-3">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col">
        <img src="{{ episode.image_url }}" class="img-thumbnail img-fluid">
      </div>
      <div class="col-10">
        <h3 class="card-title">
          {{ episode.title }}
        </h3>
        <p class="text-muted">Released {{ episode.created.date }}</p>
        {% with episode.enclosures.all|first as audio %}
        <audio controls>
          <source src="{{ audio.href }}" style="width:100%">
          Your browser does not support the audio element.
        </audio>
        {% endwith %}
      </div>
    </div>
  </div>
</div>
{% endfor %}


{% comment %} {% for episode in page_obj %}
<div class="card text-dark my-3">
  <div class="card-body">
    <h5 class="card-title">
      <a href="{{ post.get_absolute_url }}" class="stretched-link">{{ post.title }}</a>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">
      Published {{ post.publish }} by {{ post.author }}
    </h6>
    <p class="card-text text-dark">{{ post.body|safe|truncatewords:20|linebreaks }}</p>
  </div>
</div>
{% endfor %} {% endcomment %}

<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    </li>
    {% endif %}
      {% comment %} {% for page in page_obj.paginator.page_range %}
        {% if forloop.counter < 5 %}
          <li class="page-item {% if page == page_obj.number %}active{% endif %}">
            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
          </li>
        {% endif %}
      {% endfor %} {% endcomment %}
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
    </li>
    {% endif %}
  </ul>
</nav>

{% endblock content %}
